.alerts {
    position: relative;

    h5 {
        margin: 0px;
        font-size: 16px;
    }

    input {
        border: none;
        border-radius: 3px;
        padding: 3px;
        
        &:focus {
            outline: solid gray 2px;
            outline-style: inset;
            transition: outline ease-in .05s;
        }
    }

    button {
        padding: 5px;
        margin: 5px;
        font-size: 12px;
        background-color: rgb(219, 219, 219);
        color: rgb(0, 0, 0);

        &:focus {
            outline: none;
        }
    }
    
    .threshold {
        background-color: rgba(255,255,255,.2);
        backdrop-filter: blur(5px);
        border-radius: 12px;
        padding: 15px;
        margin: 15px 0px 25px 0px;

    }

    .active-alerts {
        background-color: rgba(255,255,255,.2);
        backdrop-filter: blur(5px);
        border-radius: 12px;
        padding: 15px;
        
        .alerts-container {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
    }
}
