#root {
  max-width: 1280px;
}

.open {
  margin: 0 20vw;
  transition: margin .25s ease-in;
}

.closed {
  margin: 0 10vw;
  transition: margin .25s ease-in;
}

@media screen and (max-width: 400px) {
  .open {
    margin: 0 5vw;
  }
  
  .closed {
    margin: 0 5vw;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

