.dashboard {
    z-index: 1;
    position: relative;

    h1 {
       font-size: 35px;
    }

    h5 {
        margin: 0;;
        color: gray;
        font-weight: 400;
        font-size: 14px;
    }

    h3 {
        font-size: 22px;
        opacity: 70%;
    }
}

.dashboard-wrapper {
    display: flex;
    width: 80vw;

    .supply-reserve {
        height: 100%;
        min-width: 200px;
        display: block;

        h5 {
            font-size: 16px;
            margin-top: 20px;
            color: white;
            opacity: 80%;
        }

        .allocate-request-tabs {
            display: flex;
            width: 175px;
            justify-content: space-evenly;
            margin: 25px 0 0;

            h5  {
                width: 50%;
                text-align: center;
                margin: 0;
                padding: 5px;
                color: black;
                opacity: 100;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                    color:#1b93f0;
                }
            }
        }

        .allocate-panel {
            background-color: white;
            width: 175px;
            height: 100%;
        }

        .request-panel {
            background-color: white;
            width: 175px;
            height: 100%;
        }

        .alerts-panel {
            background-color: white;
            width: 175px;
            height: 100%;
            min-height: 25px;

            h6 {
                margin: 0;
                padding: 10px;
                color: rgba(0,0,0,.6);
            }
        }
    }

    .pods-section-wrapper {
        margin-left: 50px;
        height: 80vh;

        .pods-header-wrapper {
            display: flex;
            align-items: center;
            width: 250px;
            justify-content: space-between;

            .filter {
                background-color: white;
                color: black;
            }
        }

        .tile-wrapper {
            display: flex;
            flex-wrap:wrap;
            overflow-y: scroll;
            height: 70vh;
            width: 100%;
            color-scheme: dark;
        }
    }
}
