.dashboard {
    z-index: 1;
    position: relative;

    h1 {
       font-size: 35px;
    }

    h5 {
        margin: 0;;
        color: gray;
        font-weight: 400;
        font-size: 14px;
    }

    h3 {
        font-size: 22px;
        opacity: 70%;
    }
}


.dashboard-wrapper {
    display: flex;
    width: 80vw;

    .supply-reserve {
        height: 100%;
        min-width: 200px;
        display: block;

        h5 {
            font-size: 16px;
            margin-top: 20px;
            color: white;
            opacity: 80%;
        }

        .allocate-request-tabs {
            display: flex;
            width: 175px;
            justify-content: space-evenly;
            margin: 25px 0 0;

            h5  {
                width: 50%;
                text-align: center;
                margin: 0;
                padding: 5px;
                color: black;
                opacity: 100;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                    color:#1b93f0;
                }
            }
        }

        .allocate-panel {
            background-color: white;
            width: 175px;
            height: 100%;
        }

        .request-panel {
            background-color: white;
            width: 175px;
            height: 100%;
        }

        .alerts-panel {
            background-color: white;
            width: 175px;
            height: 100%;
            min-height: 25px;

            h6 {
                margin: 0;
                padding: 10px;
                color: rgba(0,0,0,.6);
            }
        }
    }

    .pods-section-wrapper {
        margin-left: 50px;
        height: 80vh;

        .pods-header-wrapper {
            display: flex;
            align-items: center;
            width: 250px;
            justify-content: space-between;

            .filter {
                background-color: white;
                color: black;
            }
        }

        .tile-wrapper {
            display: flex;
            flex-wrap:wrap;
            overflow-y: scroll;
            height: 70vh;
            width: 100%;
            color-scheme: dark;
        }
    }
}

// Small Mobile Styling
@media screen and (max-width: 400px) {
    .dashboard {
        z-index: 1;
        position: relative;

        .header-wrapper {
            display: flex;
            align-items: center;
        }
    
        h1 {
            display: none;
            font-size: 20px;
            margin-right: 20px;
        }
    
        h5 {
            margin: 0;;
            color: gray;
            font-weight: 400;
            font-size: 12px;
        }
    
        h3 {
            font-size: 18px;
            opacity: 70%;
            margin-top: 0px;
        }
    }

    .dashboard-wrapper {
        display: block;
        width: 90vw;
        border: 1px solid red;

        .dash-mobile-flex {
            display: flex;
            height: 100%;
            justify-content: space-between;
            margin-top: 15px;
        }
    
        .supply-reserve {
            height: 100%;
            min-width: 200px;
            display: block;
    
            h5 {
                font-size: 16px;
                margin-top: 0;
                color: white;
                opacity: 80%;
            }
    
            .allocate-request-tabs {
                display: flex;
                width: 40vw;
                justify-content: space-evenly;
                margin: 0px 0 0;
    
                h5  {
                    width: 50%;
                    text-align: center;
                    margin: 0;
                    padding: 5px;
                    color: black;
                    opacity: 100;
                    font-weight: 600;
    
                    &:hover {
                        cursor: pointer;
                        color:#1b93f0;
                    }
                }
            }
    
            .allocate-panel {
                background-color: white;
                width: 40vw;
                height: 0%;
            }
    
            .request-panel {
                background-color: white;
                width: 40vw;
                height: 0%;
            }
    
            .alerts-panel {
                background-color: white;
                width: 40vw;
                height: 50%;
                min-height: 25px;
    
                h6 {
                    margin: 0;
                    padding: 10px;
                    color: rgba(0,0,0,.6);
                }
            }
        }
    
        .pods-section-wrapper {
            margin-left: 0px;
            height: 10vh;
    
            .pods-header-wrapper {
                display: flex;
                align-items: center;
                width: 250px;
                justify-content: space-between;
    
                .filter {
                    background-color: white;
                    color: black;
                }
            }
    
            .tile-wrapper {
                display: flex;
                flex-wrap:wrap;
                overflow-y: scroll;
                height: 100%;
                width: 100%;
                color-scheme: dark;
            }
        }
    }
    
}
