.pod {
    width: 190px;
    height: 200px;
    background-color: rgba(255,255,255,.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 10px;

    &:hover {
        box-shadow: 0px 0px 10px rgb(40, 137, 197);
        cursor: pointer;
    }
}

.tile-link {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
    }

    &:visited {
        text-decoration: none;
        color: white;
    }
}