.pod {
    box-sizing: border-box;
    width: 190px;
    height: 200px;
    background-color: rgba(255,255,255,.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: .5rem;
    transition: all .3s;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0;
        padding: 0;
    }

    &:hover {
        box-shadow: 0px 0px 1rem rgb(44, 174, 255);
        cursor: pointer;
    }
}

.tile-link {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
    }

    &:visited {
        text-decoration: none;
        color: white;
    }
}

.pod-thumbnail {
    height: 125px;
    border-radius: 5px;
}