.supply-panel {
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    height: 200px;
    width: 175px;
    color: black;

    .supply-container {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 50px;

        .supply-icon {
            margin: 10px 20px;
            width: 20px;
        }

        .supply-values {
            display: flex;
            flex-direction: column;

            .supply-name {
                font-size: 15px;
                margin: 0;
            }

            .supply-value {
                font-size: 15px;
                margin: 0;
            }

        }
    }
}