.supply-panel {
    background-color: #d9d9d9;
    margin-top: 25px;
    height: 200px;
    width: 175px;
    color: black;

    .supply-container {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 50px;

        .supply-icon {
            margin: 10px 20px;
            width: 25px;
        }

        .supply-values {
            display: flex;
            flex-direction: column;

            .supply-name {
                font-size: 15px;
                margin: 0;
            }

            .supply-value {
                font-size: 15px;
                margin: 0;
            }

        }
    }
}

@media screen and (max-width: 400px) {
    .supply-panel {
        background-color: #d9d9d9;
        margin-top: -10px;
        height: 80px;
        width: 90vw;
        color: black;
        display: flex;
        flex-wrap: wrap;
    
        .supply-container {
            display: flex;
            align-items: center;
            justify-content: left;
            height: 40px;
            width: 45vw;
    
            .supply-icon {
                margin: 10px 20px;
                width: 25px;
            }
    
            .supply-values {
                display: flex;
                flex-direction: column;
    
                .supply-name {
                    font-size: 13px;
                    margin: 0;
                }
    
                .supply-value {
                    font-size: 13px;
                    margin: 0;
                }
    
            }
        }
    }
}