
.form {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    padding: 8px;

    select {
        width: 115px;
        height: 25px;
        text-align: center;
        padding: 2px;
        color: #8b8b8b;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 1px 1px 3px rgb(105, 105, 105);
    }

    button {
        background-color: #1b93f0;
        color: white;
        padding: 3px 25px 3px 25px;
    }

    .num-input {

        display: flex;
        align-items: center;
        margin: auto;
        height: 25px;
        box-shadow: 1px 1px 3px rgb(105, 105, 105);
        
        input {
            text-align: center;
            width: 75px;
            height: 100%;
            margin: 0px;
            padding: 0px;
            border: none;
            color: #8b8b8b;
        }
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        button {
            background-color: white;
            color: black;
            padding: 0px;
            border: none;
            border-radius: 0px;
            width: 20px;
            height: 100%;
        }
        button:focus,
        button:focus-visible {
            outline: none;
        }
        .left-button {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .right-button {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    
}