.navigation {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;

    .background-image {
        position: fixed;
        background-position-x: center;
        height: 100vh;
        width: 100vw;
        z-index: 0;
        background-image: url('../../assets/earth-background.jpg');
        background-size: cover;
    }

    .avatar-placeholder {
        background-image: url('../../assets/avatar.jpg');
        background-size: cover;
        background-position-x: center;
        height: 60px;
        width: 60px;
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: 20px;
        left: 9px;
    }

    .time-bar {
        // border: 1px solid #1b94f099;
        border-radius: 3px;
        width: 350px;
        max-height: 3rem;
        display: flex;
        position: absolute;
        right: 0;
        margin: 2rem;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;

        .dev-mode-wrapper {
            p {
                font-size: 14px;
                margin: 0;
            }
        }
    }

    .closedNav {
        height: 100vh;
        width: 75px;
        background-color: rgba(255,255,255,.3);
        backdrop-filter: blur(5px);
        display: block;
        position: fixed;
        transition: width .25s ease-out;

        .moonager-logo-closed {
            font-family: 'Moulpali', cursive;
            font-size: 50px;
            line-height: 30px;
            color: black;
            text-align: center;
            margin: 0;
            padding: 25px 0;
            pointer-events: none;
        }

        .hamburger {
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &:hover {
                cursor: pointer;
            }

            .hamburger-line {
                height: 4px;
                width: 35px;
                display: block;
                background: black;
            }
        }
    }

    .openNav {
        height: 100vh;
        width: 15vw;
        background-color: rgba(255,255,255,.3);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        position: fixed;
        box-shadow: 0px 0px 30px #1B93F0;
        transition: width .25s ease-out;

        .moonager-logo-open {
            display: flex;
            justify-content: center;
            font-family: 'Moulpali', cursive;
            font-size: 2.8vw;
            letter-spacing: .2vw;
            line-height: 30px;
            color: black;
            pointer-events: none;
            padding: 30px 0px 20px;
        }

        .close-icon-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .close-icon {
                width: 30px;
                margin-right: 12px;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .navlinks {
            display: flex;
            flex-direction: column;
            font-size: 1.5vw;
            justify-content: flex-start;
            margin-left: 25px;
            margin-top: 80px;

            .link {
                color: black;
                margin-top: 15px;
                letter-spacing: .05em;
                animation: expansion .3s;
                overflow: hidden;

                &:hover {
                    color: rgb(0, 195, 255);
                }

                &:active {
                    color: white;
                }

                @keyframes expansion {
                    from {width: 0%};
                    to {width: 100%};
                }
            }
        }
    }
}