.pod-details {
    position: relative;
    z-index: 1;

    header {
        display: flex;
        align-items: center;

        button {
            margin-right: 25px;
            padding: 5px;
            border-radius: 2px;
            background-color: #1b93f0;

            &:hover {
                background-color: #1e9eff;
                border: 1px solid transparent;
            }
        }

        h1 {
            font-size: 32px;
        }
    }


    .pod-map-wrapper {
        display: flex;
        justify-content: space-between;
        height: 300px;
        width: 80vw;
        margin-top: 25px;

        .coordinates-panel {

        }

        .map-panel {
            position: relative;
            width: 60vw;
            height: 20vw;
            background-image: url('../../assets/moon.jpg');
            background-size: contain;


            .map-pin-wrapper {
                position: relative;
                width: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .pin {
                    height: 30px;
                }

                p {
                    margin: 5px;
                    font-size: 12px;
                    background-color: black;
                    padding: 2px;
                    border-radius: 2px;
                }
            }


        }

    }

    .details-title {
        margin: 25px 0 0;
    }

    .details-panel {
        background-color: rgba(255,255,255,.2);
        backdrop-filter: blur(5px);
        height: 350px;
        width: 80vw;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }

        h5 {
            font-size: 18px;
            text-decoration: underline;
            margin: 25px 0 0;
        }
        
    }
}

